<!DOCTYPE html>
<html lang="en" ng-app="itemdetailApp">
<head>
    <meta charset="UTF-8">
    <title>项目详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/jquery-3.1.1.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css">
    <script src="js/bootstrap.js"></script>
    <script src="js/bootstrap-datetimepicker.js"></script>
    <script src="js/bootstrap-datetimepicker.fr.js"></script>
    <script src="js/echarts.js"></script>
    <style>*{
        font-family: SimHei;
    }
        .czDiv{
            height:470px;
            overflow: hidden;
        }
    </style>
</head>
<body ng-controller="itemDetailCtrl">
<!--返回顶部-->
<a href="#">
    <div style="border-radius: 5px;text-align:center;padding-top:15px;width: 50px;height: 50px;position: fixed;background-color:#838383;opacity: .7;right: 40px;bottom: 80px;">
        <span class="glyphicon glyphicon glyphicon-arrow-up"></span>
    </div>
</a>
    <div class="container">
        <div class="breadcrumb">
            <li><a href="">首页</a></li>
            <li><a href="itemList.html">项目</a></li>
            <li>项目详情</li>
        </div>
                <div class="alert alert-warning" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign">提示</span>
                </div>
        <div class="row">
            <div ng-controller="reportCtrl" class="col-lg-8">
                <div class="panel panel-primary" style="height:600px;">
                    <div class="panel-heading">周报记录</div>
                    <div class="panel-body">
                        <div class="czDiv">
                            <div class="well" style="height: 140px;" ng-repeat="item in itemList">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <h4>题目:{{item.title}} 上传时间:{{item.releasetime}} 作者:{{item.stuid}}</h4>
                                        <p style="height: 60px;overflow: hidden">{{item.content}}</p>
                                    </div>
                                    <div class="col-lg-2"><h4 class="text-primary">得分:{{item.score}}</h4><a href="reportDetail.html?id={{showItemDetail($index)}}" style="margin-top:40px;" class="btn btn-default btn-block">查看</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5">
                                <nav>
                                    <ul class="pagination">
                                        <li><a href="#" ng-click="preItem()">
                                            <span>上一页</span>
                                        </a></li>
                                        <li ng-class="{active: isActivePage(page)}" ng-repeat="page in itemPage  track by $index"><a href="#"  ng-click="toItemPage(page)">{{page}}</a></li>
                                        <li><a href="#" ng-click="nextItem()">
                                            <span>下一页</span>
                                        </a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-lg-7" style="margin-top:20px;">
                                <a class="btn btn-primary pull-right" href="uploadReport.html">上传周报</a>
                                <a class="btn btn-primary pull-right" href="#" style="margin-right:20px;">上传文件</a>
                                <a class="btn btn-default pull-right" href="askQuestion.html" style="margin-right:20px;">去提问</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-controller="dialog" class="col-lg-4">
                <div class="well " style="height: 507px;overflow-y:scroll;">
                    <div class="media" ng-repeat="item in dia">
                        <div class="media-left">
                            <img src="img/defaultperson.png" alt="64x64" width="64" height="64">
                        </div>
                        <div class="media-body">
                            {{item.createid}}说:{{item.content}}
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-lg-8">
                            <textarea name="" ng-model="speakword" class="form-control" rows="3" placeholder="问题或想说的话"></textarea>
                        </div>
                        <div class="col-lg-4">
                            <a href="#" class="btn btn-primary btn-block" ng-click="speak(speakword)">输入</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="text-center">文件上传</h4>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <td>文件名称</td>
                <td>文件内容</td>
                <td>上传日期</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>XXX</td>
                <td>XX</td>
                <td>XXXX-XX-XX</td>
                <td><a href="#">下载</a></td>
            </tr>
            </tbody>
        </table>
        <div ng-controller="itemDetailCtrl">
            <h4 class="text-center">项目完成进度</h4>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    {{progress+'%'}}
                </div>
            </div>
        <h4 class="text-center">项目详情</h4>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td colspan="4">项目名称</td>
                    <td colspan="4">{{data.name}}</td>
                </tr>
                <tr>
                    <td colspan="8">项目内容</td>
                </tr>
                <tr rowspan="3">
                    <td colspan="8" rowspan="3">{{data.content}}</td>
                </tr>
            <tr></tr>
            </thead>
            <thead>
            <tr>
                <td>序号</td>
                <td>创建人</td>
                <td>人数</td>
                <td>开始时间</td>
                <td>结束时间</td>
                <td>发布时间</td>
                <td>状态</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{data.id}}</td>
                <td>{{data.tutor}}</td>
                <td>{{data.sum}}</td>
                <td>{{data.starttime}}</td>
                <td>{{data.endtime}}</td>
                <td>{{data.releasetime}}</td>
                <td>{{data.state}}</td>
            </tr>
            </tbody>
        </table>
        </div>
        <!--成员信息模块-->
        <div ng-controller="itemMember">
        <h4 class="text-center">项目成员</h4>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <td>姓名</td>
                <td>身份</td>
                <td>学号</td>
                <td>联系方式</td>
                <td>专业</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in members">
                <td>{{item.id}}</td>
                <td>{{item.type}}</td>
                <td>{{item.id}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.major}}</td>
            </tr>
            </tbody>
        </table>
        </div>
        <hr>
        <h4 class="text-center">项目成分</h4>
        <div id="main" style="width: 800px;height:600px;margin: 0 auto;"></div>
        <hr>
        <h4 class="text-center">项目周报平时成绩</h4>
        <div id="report" style="width: 800px;height:600px;margin: 0 auto;"></div>
        <hr><h4 class="text-center">最终成绩</h4>
        <div id="score" style="width: 800px;height:600px;margin: 0 auto;"></div>
        <h4 class="text-center">最终成绩详情</h4>
        <table class="table table-bordered table-striped" ng-controller="finalScoreCtrl">
            <thead>
            <tr>
                <td>答辩</td>
                <td>实践</td>
                <td>企业</td>
                <td>论文</td>
                <td>周报</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{data[0].chart1}}</td>
                <td>{{data[0].chart2}}</td>
                <td>{{data[0].chart3}}</td>
                <td>{{data[0].chart4}}</td>
                <td>{{data[0].chart5}}</td>
            </tr>
            </tbody>
            <thead>
            <tr>
                <td>姓名</td>
                <td>状态</td>
                <td>等级</td>
                <td>平时</td>
                <td>总分</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{data[0].itemid}}</td>
                <td>{{data[0].stuid}}</td>
                <td>{{data[0].teaid}}</td>
                <td>{{data[0].chart5}}</td>
                <td style="color: #527db4;font-size: 18px">{{data[0].final}}</td>
            </tr>
            </tbody>
        </table>
    </div>
<script>
    var studentId=0;
</script>
    <script src="js/angular.js"></script>
<script src="js/itemDetail.js"></script>
<script src="js/all.js"></script>
    <script>
        $.ajax({
                url:'data/itemfive.php?id='+id+'&stuId='+studentId,
                type:'GET',
                success:function(data){
                    var myChart=echarts.init(document.getElementById('main'));
                    var option={
                        series:[{
                            name:'访问来源',
                            type:'pie',
                            radius:'55%',
                            data:[
                                {value:parseInt(data[0].score1),name:'编程'},
                                {value:parseInt(data[0].score2),name:'实践'},
                                {value:parseInt(data[0].score3),name:'论文'},
                                {value:parseInt(data[0].score4),name:'建模'},
                                {value:parseInt(data[0].score5),name:'公式'}
                            ],
                            visualMap: {
                                show: false,
                                min: 20,
                                max: 40,
                                inRange: {
                                    colorLightness: [0, 1]
                                }
                            },
                            roseType: 'angle',
                            itemStyle:{
                                normal:{
                                    color:'#357ab4',
                                    shadowBlur:200,
                                    shadowColor:'rgba(0,0,0,0.2)'
                                }
                            }
                        }]
                    }
                    myChart.setOption(option);
                }
            }
        )
        $.ajax({
            url:'data/report.php?id='+id+'&stuid='+studentId,
            type:'GET',
            success:function(data){
                console.log(data,'!!!')
                var dataarr=[]
                for(var i=0;i<data.length;i++){
                    dataarr.push(parseInt(data[i].score))
                }

                var reportChart=echarts.init(document.getElementById('report'))
                var option2 = {
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            crossStyle: {
                                color: '#999'
                            }
                        }
                    },
                    toolbox: {
                        feature: {
                            dataView: {show: true, readOnly: false},
                            magicType: {show: true, type: ['line', 'bar']},
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    legend: {
                        data:['个人成绩','最高成绩','平均成绩']
                    },
                    xAxis: [
                        {
                            type: 'category',
                            data: ['1周','2周','3周','4周','5周','6周','7周','8周','9周','10周','11周','12周'],
                            axisPointer: {
                                type: 'shadow'
                            }
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: '分数',
                            min: 0,
                            max: 100,
                            interval: 5,
                            axisLabel: {
                                formatter: '{value} 分'
                            }
                        },
                        {
                            type: 'value',
                            name: '分数',
                            min: 0,
                            max: 100,
                            interval: 50,
                            axisLabel: {
                                formatter: '{value} 分'
                            }
                        }
                    ],
                    series: [
                        {
                            name:'个人成绩',
                            type:'bar',
                            data:dataarr,
                            itemStyle:{
                                normal:{
                                    color:'#3f8cb6',
                                    shadowBlur:200,
                                    shadowColor:'rgba(0,0,0,0.2)'
                                }
                            }
                        },
                        {
                            name:'最高成绩',
                            type:'bar',
                            data:[90, 80, 90, 83, 84, 97, 98, 84, 95, 77, 90, 98],
                            itemStyle:{
                                normal:{
                                    color:'#3659b4',
                                    shadowBlur:200,
                                    shadowColor:'rgba(0,0,0,0.2)'
                                }
                            }
                        },
                        {
                            name:'平均成绩',
                            type:'line',
                            yAxisIndex: 1,
                            data:[60, 70, 70, 76, 82, 83, 70, 80, 83, 76, 75, 69],
                            itemStyle:{
                                normal:{
                                    color:'#40e2e2',
                                    shadowBlur:200,
                                    shadowColor:'rgba(0,0,0,0.2)'
                                }
                            }
                        }
                    ]
                };
                reportChart.setOption(option2)
            }
        })

        $.ajax({
                url:'data/itemscore.php?id='+id+'&stuId='+studentId,
                type:'GET',
                success:function(data) {
                    var newVal=[data[0].chart1,data[0].chart2,data[0].chart3,data[0].chart4,data[0].chart5]
                    newVal=newVal.map(function(e){
                        return parseInt(e)
                    })
                    var score=echarts.init(document.getElementById('score'))
                    option3 = {
                        tooltip: {},
                        legend: {
                            data: ['各项成绩']
                        },
                        radar: {
                            // shape: 'circle',
                            indicator: [
                                { name: '实践', max: 100},
                                { name: '编程', max: 100},
                                { name: '论文', max: 100},
                                { name: '企业', max: 100},
                                { name: '答辩', max: 100}
                            ]
                        },
                        series: [{
                            name: '成绩 vs 满分',
                            type: 'radar',
                            // areaStyle: {normal: {}},
                            data : [
                                {
                                    value : newVal,
                                    name : '各项成绩'
                                }
                            ],
                            itemStyle:{
                                normal:{
                                    color:'#527db4',
                                    shadowBlur:200,
                                    shadowColor:'rgba(0,0,0,0.2)'
                                }
                            }
                        }]
                    };
                    score.setOption(option3)
                }
            }
        )

    </script>
</body>
</html>